<% if(site.posts.length){ %>
<div class="widget">
    <h3 class="title">
        <%= __('archives') %>
    </h3>
    <%- list_archives({
            show_count: theme.arch_config.show_count,
            type: theme.arch_config.type,
            order: theme.arch_config.order,
            format: theme.arch_config.format,
            transform: function (name) {
                return '<i class="fa" aria-hidden="true">'+ name + '</i>';
            }
        }) %>
</div>
<!-- 方形 -->
<!-- <ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-1437849089810081"
     data-ad-slot="2426112279"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     (adsbygoogle = window.adsbygoogle || []).push({});
</script> -->
<% } %>