<% if (theme.links && theme.links.length){ %>
<div class="widget">
    <h3 class="title">
        <%= __('friend_links') %>
    </h3>
    <div class="content friends-link">
        <% theme.links.forEach(function (item) {%>
            <a href="<%- item.url %>" class="fa" target="_blank">
                <%= item.title%></a>
        <%})%>
    </div>
</div>
<% } %>